.lead {
  padding-bottom: 92px;
}

.lead .image {
  width: 100%;
}

.lead .figcaption {
  padding: 0 148px;
  margin: 0;
}

.lead .title {
  font-weight: 900;
  font-size: 96px;
  text-align: center;
  line-height: 100px;
  margin: 0;
}

.lead .subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 32px 0 64px;
}

.lead .caption {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 8px 0 0;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 1279px) {
  .lead .figcaption {
    padding: 0 48px;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    padding-bottom: 88px;
  }
  .lead .figcaption {
    padding: 0;
  }
  .lead .caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead .title {
    font-size: 40px;
    line-height: 44px;
  }
  .lead .subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 16px 0 40px;
  }
}
