.places {
  padding: 0 148px 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
}

@media screen and (max-width: 1279px) {
  .places {
    padding: 0 48px 92px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    padding: 0 24px 90px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    padding: 0 0 66px;
  }
}

.card {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'title url' 'image text';
  -ms-grid-columns: minmax(460px, 1fr) auto;
      grid-template-columns: minmax(460px, 1fr) auto;
  -ms-grid-rows: auto minmax(460px, 1fr);
      grid-template-rows: auto minmax(460px, 1fr);
  row-gap: 48px;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.card .title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}

.card .text {
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
}

.card .url {
  font-size: 18px;
  line-height: 22px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.card .url:hover {
  opacity: 0.5;
}

.card .url-text {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  margin: 0 0 12px;
  color: #aaaaaa;
}

.card .text-container {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: text;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 26px;
}

.card .image {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: image;
  width: 100%;
  height: 100%;
  max-height: 460px;
  max-width: 460px;
}

.card .url-container {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: url;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (max-width: 1023px) {
  .card {
    -webkit-column-gap: 28px;
            column-gap: 28px;
    -ms-grid-columns: minmax(340px, 1fr) auto;
        grid-template-columns: minmax(340px, 1fr) auto;
    -ms-grid-rows: auto minmax(340px, 1fr);
        grid-template-rows: auto minmax(340px, 1fr);
  }
  .card .image {
    max-height: 340px;
  }
  .card .title {
    font-size: 42px;
    line-height: 46px;
  }
  .card .text {
    font-size: 16px;
    line-height: 163%;
  }
}

@media screen and (max-width: 767px) {
  .card {
        grid-template-areas: 'title' 'url' 'image' 'text';
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto 1fr auto;
        grid-template-rows: auto auto 1fr auto;
    row-gap: 32px;
  }
  .card .title {
    font-size: 32px;
    line-height: 35px;
    padding: 0 16px;
  }
  .card .text {
    font-size: 16px;
    line-height: 163%;
    padding: 0 16px;
  }
  .card .url-container {
    padding: 0 16px;
  }
  .card .image {
    min-width: 320px;
    min-height: 320px;
    width: 100%;
    max-width: 100%;
  }
}
