.intro {
  align-self: flex-start;
  padding-left: 148px;

  @media screen and (max-width: 1279px) {
    padding-left: 48px;
  }

  @media screen and (max-width: 1023px) {
    padding-left: 24px;
  }

  .container {
    max-width: 690px;
  }

  .title {
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin: 0;
  }
  .par {
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    margin: 40px 0 33px;
  }
  .list {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    list-style: none;
    padding: 0;
  }
  .item {
    margin: 0;
  }
}
